<a href="https://colab.research.google.com/github/wambu2021/bootcamppython/blob/main/my_copy_of_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summer Boot Camp: Day 2, University of Essex
### Haider Raza, PhD
### Monday, September 21, 2021
### Approximate time: 180 minutes

***
## Learning Outcome Day 2

* Python Syntax 
* Variables and tips on variable names 
* Data Types 
* Data Structures
* Strings 
* Logic/Booleans
* Operators
* If/Else, While, For, Functions 
* OOP: Classes and inheritance

***

## Python Syntax

The Python language has many similarities to `Perl`, `C`, and `Java`. However, there are some definite differences between the languages.

Python statement ends with the token NEWLINE character (carriage return). It means each line in a Python script is a statement. The following Python script contains three statements in three separate lines.

```python
print('id: ', 1)
print('First Name: ', 'Steve')
print('Last Name: ', 'Jobs')
```
Use backslash character / to join a statement span over multiple lines, as shown below.

In [ ]:
if 100 > 99 and \
    200 <= 300 and \
    True != False:
        print('Hello World!')

### Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [ ]:

x = 2
y = 5
xy = 'Hello'

In [ ]:
print(x+y, xy)

7 Hello

In [ ]:
# Multiple variables can be assigned with the same value

x = y = 1

print(x,y)

1 1

### Operators

#### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
1+2

3

In [ ]:
2-1

1

In [ ]:
1*2

2

In [ ]:
1/2

0.5

In [ ]:
15%10

5

In [ ]:
#Floor division is nothing but converting the result so obtained to the nearest integer.
2.8//2.0

1.0

## Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [ ]:
z = 1

In [ ]:
z == 1

True

In [ ]:
z > 1

False

In [ ]:
print(round(5.6231))
print(round(4.55892, 2))

6
4.56

In [ ]:
divmod(9,4)

(2, 1)

In [ ]:
pow(2,3)

8

## Print


In Python, single, double and triple quotes are used to denote a string. Most use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [ ]:
print('H')

H

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("""I am from Essex.
I love Python.""")

I am from Essex.
I love Python.

In [ ]:
string1 = "World"
print("Hello", string1)

Hello World

In [ ]:
string2 = '!'
print("Hello", string1, string2)

Hello World !

In [ ]:
print("Hello" + string1 + string2)

HelloWorld!

In [ ]:
print("Hello %s" % string1)

Hello World

In [ ]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)

Actual Number = 18
Float of the number = 18.000000

In [ ]:
print("Hello %s %s" %(string1,string2))

Hello World !

## Python: Data Types

In programming, data type is an important concept. `Variables` can store data of different types, and different types can do different things. Python has the following data types built-in by default, in these categories:


|   Type          |  Syntax   | 
|-----------------|---------- |
| Text Type:      | 	`str`     | 
| Numeric Types:  |  `int`, `float`, `complex`         |
| Sequence Types: |  `list`, `tuple`, `range`         |
| Mapping Type:   |  `dict`         |
| Set Types:      |  `set`, `frozenset`         |
| Boolean Type:   |  `bool`         |
|  Binary Types:  |  `bytes`, `bytearray`, `memoryview`      |



You can get the data type of any object by using the type() function:

In [ ]:
x = 20
type(x)

int

In [ ]:
# str type
x = "Hello Essex" 
print(type(x))

# int type
x = 100	
print(type(x))

# float type
x = 100.5	
print(type(x))

# complex type
x = 1j
print(type(x))

# list type
x = ["I", "Love", "Essex"]	
print(type(x))

# tuple 
x = ("I", "Love", "Data Science")	
print(type(x))

# range type
x = range(10)	
print(type(x))

# dictonary type
x = {"name" : "Haider", "age" : 36}		
print(type(x))

# set type
x = {"BWM", "Audi", "Honda"}	
print(type(x))

# frozen set type
x = frozenset({"England", "Wale", "Scotland", "Northern Ireland"})
print(type(x))

# bool type
x = True
print(type(x))

# bytes type
x = b"Hello"
print(type(x))

# bytearray
x = bytearray(3)
print(type(x))

# memoryview 
x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

In [ ]:
# str type
x="Hi son"
print(x)
print(type(x))
# int type
x=200
print(x)
print(type(x))
# float type
x=400.5
print(x)
print(type(x))
# complex type
x=2j
print(x)
print(type(x))
# list type
x= ["fun", "game", "London"]
print(x)

Hi son
<class 'str'>
200
<class 'int'>
400.5
<class 'float'>
2j
<class 'complex'>
['fun', 'game', 'London']

### Do you know, we can convert or set data types:

If you want to specify the data type, you can use the following constructor functions:

In [ ]:
# Setting x to string
x = str("Hello Essex")

# setting x to integer
x = int(20)

# setting x to float
x = float(20.5)		

# setting x to list
x = list(("apple", "banana", "cherry"))

## Python Conditions

Python supports the usual logical conditions from mathematics:

|   Type          |  Syntax   | 
|-----------------|---------- |
| Equals :        | `a == b`  | 
| Not Equals :    | `a != b`  | 
| Less than :     | 	`a < b` | 
| Less than or equal to:| 	`a <= b`| 
| Greater than :  | 	`a > b` | 
|Greater than or equal to:|  `a >= b`|


These conditions can be used in several ways, most commonly in `if` statements and loops. An `if` statement is written by using the `if` keyword.

```python
x = 5
y = 10
if y > x:
  print("b is greater than a")
```

## Important point to note: `Indentation`
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

```python
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error
```
Above code will give an error.

### Elif

The `elif` keyword is pythons way of saying "**if the previous conditions were not true, then try this condition**".

In [ ]:
a = 10
b = 10
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Else
The `else` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 30
b = 10
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### Using And in IF

The `and` keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 30
b = 10
c = 70
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### Nested If

You can have `if` statements inside `if` statements, this is called "nested if" statements.

In [ ]:
x = 55

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## Python Loops

Python has two primitive loop commands:

* `while` loops
* `for` 


### While Loop
With the `while` loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

### Break Statement
With the break statement we can stop the loop even if the `while` condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [6]:
i = 2
while i < 8:
  print(i)
  if i == 7:
    break
  i += 1

2
3
4
5
6
7

### For Loop

A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the `for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [8]:
cars = ["mercedes", "toyota", "subaru"]
for x in cars:
  print(x)

mercedes
toyota
subaru

In [ ]:
cars = ["bmw", "audi", "honda"]
for x in cars:
  print(x)

bmw
audi
honda

### Looping Through a String

Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for x in "bmw":
  print(x)

b
m
w

In [9]:
for x in "mercedes":
  print(x)

m
e
r
c
e
d
e
s

### Using break in for loop

With the `break` statement we can stop the loop before it has looped through all the items:

In [ ]:
cars = ["bmw", "audi", "honda"]
for x in cars:
  print(x)
  if x == "audi":
    break

bmw
audi

In [11]:
cars = ["mercedes", "toyota", "subaru"]
for x in cars:
  print(x)
  if x == "toyota":
    break

mercedes
toyota

### The range() Function

To loop through a set of code a specified number of times, we can use the `range()` function,
The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [16]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [20]:
for x in range(8):
  print(x)

0
1
2
3
4
5
6
7

In [17]:
for x in range(4, 10):
  print(x)

4
5
6
7
8
9

In [24]:
for x in range(6, 12):
  print(x)

6
7
8
9
10
11

## Functions in Python

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

### Creating a Function

In Python a function is defined using the `def` keyword:

In [ ]:
def my_function():
  print("Hello, this is my first function")

In [18]:
def my_function():
  print("Alice, I hope you are fine")

Calling a function, we have just created:

In [19]:
my_function()

Alice, I hope you are fine

### Arguments
Information can be passed into functions as arguments. Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(car_model):
  print("BMW " + car_model)

my_function("520d")
my_function("320i")
my_function("320d")

BMW 520d
BMW 320i
BMW 320d

### Parameters or Arguments?

The terms "parameter" and "argument" can be used for the same thing: information that are passed into a function. But, there is a difference and important to note that:

* A "**parameter**" is the variable listed inside the parentheses in the function definition.

* An "**argument**" is the value that is sent to the function when it is called.

### Number of Arguments
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [31]:
def my_function(car_name, car_model):
  print(car_name + " x " + car_model)

my_function("Tesla", "Model X")

Tesla x Model X

If you try to call the function with 1 or 3 arguments, you will get an error:

In [30]:
my_function("Tesla")

IndexError: ignored

### Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [23]:
def my_function(*cars):
  print("In BMW, I like " + cars[2])

my_function("X7", "X3", "X1")

In BMW, I like X1

In [27]:
def my_function(*cars):
  print("In MERC, I love " + cars[1])

my_function("X6", "X4", "X2")

In MERC, I love X4

In [ ]:
def my_function(*cars):
  print("In MERC, I love " + cars[4])

my_function("D", "X3", "X1")

In BMW, I like X1

In [29]:
def my_function(*cars):
  print("In MERC, I love " + cars[2])

my_function("M", "X2", "X1")

In MERC, I love X1

### Default Parameter Value
The following example shows how to use a default parameter value. If we call the function without argument, it uses the default value:

In [33]:
def my_function(car = "Tesla"):
  print("My favroite car is " + car)

my_function("BMW")
my_function("Audi")
my_function()
my_function("Honda")

My favroite car is BMW
My favroite car is Audi
My favroite car is Tesla
My favroite car is Honda

In [35]:
def my_function(car = "Mercedes"):
  print("My favroite car is " + car)

my_function("Toyota")
my_function("Subaru")
my_function()
my_function("BMW")

My favroite car is Toyota
My favroite car is Subaru
My favroite car is Mercedes
My favroite car is BMW

### Passing a List as an Argument
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [ ]:
def my_function(cars):
  for x in cars:
    print(x)

fruits = ["bmw", "audi", "honda"]

my_function(fruits)

bmw
audi
honda

In [36]:
def my_function(cars):
  for x in cars:
    print(x)

cars = ["Mercedes", "Toyota", "Subaru"]

my_function(cars)

Mercedes
Toyota
Subaru

### Return Values
To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(10))
print(my_function(20))
print(my_function(30))

50
100
150

In [37]:
def my_function(x):
  return 7 * x

print(my_function(12))
print(my_function(18))
print(my_function(20))

84
126
140

## Classes and Objects in Python: Object Oriented Programming

Python is an object oriented programming language. Almost everything in Python is an object, with its properties and methods.

A "Class" is like an object constructor, or a "blueprint" for creating objects.

### Create a Class
To create a class, use the keyword `class`:

In [38]:
class MyClass:
  x = 10

### Create Object

Now we can use the class named `MyClass` to create objects:
Create an object named `p1`, and print the value of `x`:

In [ ]:
p1 = MyClass()
print(p1.x)

10

### The __init__() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in `__init__()` function.

All classes have a function called `__init__()`, which is always executed when the class is being initiated.

Use the `__init__()` function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Student("Alex", 22)

print(p1.name)
print(p1.age)

Alex
22

### Object Methods
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Student class:

In [ ]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name )

p1 = Student("Ali", 24)
p1.myfunc()

Hello my name is Ali

### The self Parameter

The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named `self` , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [53]:
class Student:
  def __init__(blabla, name, age):
    blabla.name = name
    blabla.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Student("Ali", 24)
p1.myfunc()

Hello my name is Ali

### Modify Object Properties
You can modify properties on objects like this:

### Delete Object Properties
You can delete properties on objects by using the `del` keyword:

In [54]:
p1.age = 40
print(p1.age)

40